@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

p{
    font-family: Helvetica, serif;
    font-size: 15px;
}

li{
    font-family: Helvetica, serif;
    font-size: 15px;
}