@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Julius+Sans+One&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
}

@media (max-width: 768px) {
    .nav-bar {
      flex-direction: row; /* Stack items vertically */
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 15px; /* Adds spacing between items */
    }
  
    .github-logo,
    .linkedin-logo {
      font-size: 2.5rem; /* Slightly smaller for mobile */
    }
  
    .my-name {
      font-size: 1.8rem;
      text-align: center;
    }
  }
  


.github-logo{
    color: white;
    font-size: 3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
}

.github-logo:hover{
    box-shadow: 0px 0px 20px white;
    transform: scale(1.2);
}

.my-name{
    color: white;
    font-size: 2.1rem;
    font-family: "Julius Sans One", serif;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

.my-name:hover{
    transform: scale(1.2);
}

.linkedin-logo{
    color: white;
    font-size: 3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
}

.linkedin-logo:hover{
    box-shadow: 0px 0px 20px white;
    transform: scale(1.2);
}